body {
  padding: 50px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;
}

a {
  color: #00B7FF !important;
}

figure {
  margin: 0 !important;
}

#wthr-widget{
  background: #EFEFEF !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
  height: 160px !important;
  padding: 10px !important;
  margin:0 auto !important;
  width: 310px !important;
}

@-webkit-keyframes pulsate {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

.current-weather.loader header{
  background: #aaa !important;
  height: 20px !important;
  margin-left: 20% !important;
  width: 60% !important;
}
.current-weather.loader article{
  background: #aaa !important;
  height: 50px !important;
  margin-top: 10px !important;
  width: 100% !important;
}
.forecast.loader {
  background: #ccc !important;
  height: 40px !important;
  margin-top: 10px !important;
  width: 100% !important;
}
.loader {
  -webkit-animation: pulsate 0.7s infinite linear !important;
  -moz-animation: pulsate 0.7s infinite linear !important;
  -animation: pulsate 0.7s infinite linear !important;
}

.current-weather {
  text-align: center !important;
}
.current-weather h3 {
  font-weight: lighter !important;
  margin: 0 !important;
  text-decoration: underline !important;
}
.current-weather h2 {
  display: inline-block !important;
  font-size: 35px !important;
  margin: 10px 0px !important;
}

.current-weather figure {
  display: inline-block !important;
  font-size: 25px !important;
  margin: 10px 10px 10px 40px !important;
  vertical-align: top !important;
}
.current-weather figure i {
  float: left !important;
  margin-top: 10px !important;
}
.current-weather figcaption {
  font-size: 14px !important;
  float: left !important;
  margin-top: 15px !important;
  margin-left: 10px !important;
}

.forecast-list {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
}
.forecast-item {
  display: inline-block !important;
  list-style: none !important;
  margin: 5px !important;
  text-align: center !important;
}
.forecast-item header {
  color: #777 !important;
  font-weight: 200 !important;
  font-family: 'Helvetica Neue' !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
}
.forecast-item span.readings {
  font-size: 12px !important;
}
.forecast-item figure {
  color: #888 !important;
  font-size: 12px !important;
  margin-top: 5px !important;
}
